<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>zzkkyy.alfred-iterm2-vscode-cursor</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1E9060DE-2C05-4E7B-BE33-0C671E04DFCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E5C1A11-28ED-41ED-86DF-79BF8F43DD98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BE7599D-291D-4B08-92AC-A241A7D9365C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1E0343D-98A1-4E4D-BEF3-3005DB76AA50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E367328-FA4A-468B-8876-C438C5D173B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E5C1A11-28ED-41ED-86DF-79BF8F43DD98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2482747-B050-424A-A1D5-2E0AED997447</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E5C1A11-28ED-41ED-86DF-79BF8F43DD98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B07082D3-BB9B-46BD-9D13-590160C800E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E34CD4CD-17C8-4C80-9D10-257DC317215D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7907293-3130-48FD-860D-772771D8BE45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E5C1A11-28ED-41ED-86DF-79BF8F43DD98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3446314-CFBE-44AA-85A6-F5EBD96AAD2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E34CD4CD-17C8-4C80-9D10-257DC317215D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5CED756-51F7-45C3-A241-4DD7D3DF7AB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1E0343D-98A1-4E4D-BEF3-3005DB76AA50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB06FDCC-6419-48A2-9D66-0242A3040E45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1E0343D-98A1-4E4D-BEF3-3005DB76AA50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F637869C-251E-4B18-B6E9-C5E557432864</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E34CD4CD-17C8-4C80-9D10-257DC317215D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>zzkkyy</string>
	<key>description</key>
	<string>open iterm2 vscode cursor in the current folder of Finder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>iTerm &amp; Vscode &amp; Cursor</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>终端</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open iterm2 in the current folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1E9060DE-2C05-4E7B-BE33-0C671E04DFCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>open Terminal in current folder</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open iterm2 in the current folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A2482747-B050-424A-A1D5-2E0AED997447</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>-- Get the Finder path
tell application "Finder"
    try
        set currentFolder to (folder of the front window as alias)
        set pathList to quoted form of POSIX path of currentFolder
        set command to "clear; cd " &amp; pathList
    on error
        display dialog "No Finder window is open." buttons {"OK"} default button "OK"
        return
    end try
end tell

-- Interact with iTerm2
tell application "iTerm"
    activate
    try
        -- Check if any windows exist
        if (count of windows) is 0 then
            create window with default profile
        else
            -- Create a new tab in the current window instead of a new window
            tell current window
                create tab with default profile
            end tell
        end if
        -- Write the command to the current session
        tell current session of current window
            write text command
        end tell
    on error errMsg
        display dialog "Error with iTerm2: " &amp; errMsg buttons {"OK"} default button "OK"
    end try
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E5C1A11-28ED-41ED-86DF-79BF8F43DD98</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>iTerm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open iterm2 in the current folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8E367328-FA4A-468B-8876-C438C5D173B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C7907293-3130-48FD-860D-772771D8BE45</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vscode</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open vscode in current folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B07082D3-BB9B-46BD-9D13-590160C800E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cursor</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open cursor in current folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2BE7599D-291D-4B08-92AC-A241A7D9365C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "Finder"
    set currentFolder to (folder of the front window) as alias
end tell


tell application "Visual Studio Code"
    open currentFolder
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E34CD4CD-17C8-4C80-9D10-257DC317215D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "Finder"
    set currentFolder to (folder of the front window) as alias
end tell


tell application "Cursor"
    open currentFolder
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F1E0343D-98A1-4E4D-BEF3-3005DB76AA50</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>Open vscode in current folder</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open vscode in current folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E3446314-CFBE-44AA-85A6-F5EBD96AAD2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>Open cursor in current folder</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open cursor in current folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E5CED756-51F7-45C3-A241-4DD7D3DF7AB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F637869C-251E-4B18-B6E9-C5E557432864</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EB06FDCC-6419-48A2-9D66-0242A3040E45</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>1E9060DE-2C05-4E7B-BE33-0C671E04DFCD</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>2BE7599D-291D-4B08-92AC-A241A7D9365C</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>3E5C1A11-28ED-41ED-86DF-79BF8F43DD98</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>8E367328-FA4A-468B-8876-C438C5D173B2</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>A2482747-B050-424A-A1D5-2E0AED997447</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>B07082D3-BB9B-46BD-9D13-590160C800E2</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>C7907293-3130-48FD-860D-772771D8BE45</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>E3446314-CFBE-44AA-85A6-F5EBD96AAD2E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>765</real>
		</dict>
		<key>E34CD4CD-17C8-4C80-9D10-257DC317215D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>E5CED756-51F7-45C3-A241-4DD7D3DF7AB3</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>EB06FDCC-6419-48A2-9D66-0242A3040E45</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>885</real>
		</dict>
		<key>F1E0343D-98A1-4E4D-BEF3-3005DB76AA50</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>870</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>F637869C-251E-4B18-B6E9-C5E557432864</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>885</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/zzkkyys/alfred-iterm2-vscode-cursor</string>
</dict>
</plist>
